{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Hero -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse g-5 py-5">
        <!-- Hero Image -->
        <div class="col-10 col-sm-8 col-lg-6">
            <img class="d-block mx-lg-auto img-fluid rounded-3" src="media/hero.jpg"
                alt="Man driving car from rear view" style="transform: scaleX(-1);" loading="lazy">
        </div>
        <!-- Scroller -->
        <div class="col-lg-6 d-flex flex-column">
            <div class="display-5">
                <span class="scroller-header">Where will your license take you?</span>
                <!-- Scroller | Start -->
                <div class="scroller-text mt-4 pt-4 d-sm-flex justify-content-md-start">
                    <span class="line">on a trip of a lifetime</span>
                    <span class="line">out with mates</span>
                    <span class="line">to the drive-thru</span>
                    <span class="line">to the beach</span>
                    <span class="line">to the countryside</span>
                    <span class="line">to work</span>
                    <span class="line">to college</span>
                </div>
            </div>
            <!-- Scroller | End -->
            {% if user.is_authenticated %}
            <div class="scroller-tagline my-3 mt-lg-3">
                Get on the road today
                <br>
                <span>
                    <a class="phone-num" href="tel:07700123456">
                        <small><i class="fa-solid fa-phone"></i></small> 07700 123 456
                    </a>
                    <a href="{% url 'booking' %}" role="button" class="btn btn-sm btn-danger-secondary ms-3">Book
                        Online</a>
                </span>
            </div>
            {% else %}
            <div class="scroller-tagline my-3 mt-lg-3">
                Get on the road today
                <br>
                <span>
                    <a class="phone-num" href="tel:07700123456">
                        <small><i class="fa-solid fa-phone"></i></small> 07700 123 456
                    </a>
                </span>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-md-3">
                <a href="{% url 'account_login' %}" role="button"
                    class="btn btn-danger-secondary btn-lg px-4 me-md-2">Sign
                    In</a>
                <a href="{% url 'account_signup' %}" role="button" class="btn btn-outline-dark btn-lg px-4">Register</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}