/* Styling for Amend/Cancel table cells if Booking is Cancelled */
.cancelled-text-cell, .previous-text-cell {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.cancelled-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelled-text {
    font-family: var(--stardos_stencil);
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--brand_red);
    border: 2px solid var(--brand_red);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 7.5px;
    font-size: 15px;
    opacity: 0.6;
}

/* Profile Icon */
.default-profile-lg {
    height: 150px;
    width: 150px;
    line-height: 150px;
    font-size: 5rem;
}

/* Pill Badge Styling */
.badge {
    background-color: #b02a37;
    font-family: var(--montserrat);
    font-weight: var(--regular);
}

.badge:hover {
    background-color: #a32733;
}

/* Profile Edit Icon | (fa-pen) */
.edit-icon {
    font-size: .9rem;
    color: var(--red);
}

.edit-icon:hover {
    color: var(--deep_red);
}

/* Counter number circle for ordered lists */
.counter {
    color: var(--pure_white);
    background-color: var(--deep_red);
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 50%;
}

/* Animation Styling */
/* Transitions -> (see profile.js) */
#profileHeaderContainer {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#profileHeaderContainer.active {
    opacity: 1;
    transform: translateY(0);
}

#setupMessage1, #setupMessage2 {
    opacity: 0;
    transform: translateY(-25px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

#setupMessage1.active, #setupMessage2.active {
    opacity: 1;
    transform: translateY(0);
}

#setupMessage1.vanish, #setupMessage2.vanish {
    opacity: 0;
    transform: translateY(0);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

#profileBody {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#profileBody.active {
    opacity: 1;
    transform: translateY(0);
}

/* Media Queries */
@media (max-width: 767px) {
    .cancelled-text-cell {
        width: 100%; /* Ensure the cell stretches to full width on mobile */
    }
}