@import "static/css/base.css";

.phone-num {
    color: var(--light_gray);
}

.phone-num:hover {
    color: var(--red);
}

/* Index Page Scroller | ('Where will your license take you?') */
.scroller-header {
    font-family: var(--montserrat);
}

.scroller-text {
    font-family: var(--share_tech);
    font-style: oblique;
    text-transform: uppercase;
    color: var(--deep_red);
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
    overflow: hidden;
    width: 10em;
}

.scroller-text>span {
    position: absolute;
    top: 0;
}

.line {
    display: none;
}

/* Scroller Animation Keyframes */
@keyframes scrollIn {
    0% {
        transform: translateY(100%);
    }

    90% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scrollOut {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}

.line.scroll-in {
    display: block;
    animation: scrollIn 0.5s ease-in forwards;
}

.line.scroll-out {
    animation: scrollOut 0.5s ease-out forwards;
}

/* Scroller Tagline (including phone number and buttons) */
.scroller-tagline {
    font-family: var(--montserrat);
    font-size: 25px;
    font-weight: var(--regular);
}

.scroller-tagline>span {
    font-family: var(--montserrat);
    font-size: 20px;
    font-weight: var(--light);
}

/* Media Queries */
@media (min-width: 992px) {
    .phone-num {
        pointer-events: none;
    }
}

@media (max-width: 992px) {

    .col-10 {
        width: 100vw;
        max-width: 100%;
        height: 30vh;
        overflow: hidden;
        padding: 0 !important;
    }

    .col-10 img {
        width: 100vw;
        height: 30vh;
        object-fit: cover;
    }

    header {
        margin-bottom: 1rem;
    }

    .container {
        padding-top: 0 !important;
    }

    .row {
        padding-top: 0 !important;
    }

    .flex {
        padding-top: 0 !important;
    }
}

@media (max-width: 575px) {
    .col-10 img {
        border-radius: 0 !important;
    }

    header {
        margin-bottom: 0;
    }
}