{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'booking/js/booking.js' %}"></script>
{% endblock %}

{% block page_header %}
<h1 class="text-center">Online Booking</h1>
{% endblock %}

{% block content %}
<div class="container pb-5">

    <!-- Tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active disabled" aria-current="page" href="{% url 'booking' %}">Lesson Type</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'booking_2' %}">Meeting Point</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'booking_3' %}">Date</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="{% url 'booking_4' %}">Time</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="{% url 'checkout' %}">Pay</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
        -->
    </ul>

    <!-- Progress Bar 1/6 (15%) -->
    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 15%"></div>
    </div>

    <h3 class="text-center my-5">Please Select a Lesson Type</h3>
    <form class="brand-text-sm mt-5 text-center" method="POST" action="{% url 'booking' %}">
        {% csrf_token %}
        <!-- Selection | Lesson Type -->
        <select class="form-select mb-3" id="session_lesson_type" name="session_lesson_type" aria-label="Lesson Type"
            required oninvalid="this.setCustomValidity('Please select a lesson type')"
            oninput="this.setCustomValidity('')">
            <option selected disabled>Lesson Type</option>
            <option value="Manual">Manual</option>
            <option value="Automatic">Automatic</option>
            <option value="Mock Test">Mock Test</option>
        </select>
        
        <!-- Submit Button -->
        <button type="submit" class="btn btn-danger">Continue</button>
    </form>
</div>

{% endblock %}