<style>
    footer {
        padding: 20px 0;
    }

    footer img {
        opacity: var(--washed_out);
    }

    footer img:hover {
        opacity: 1;
    }
</style>

<footer class="footer fixed-bottom border-top">
    <div class="container text-center">
        <a href="/">
            <img class="img-fluid" src="https://jims-school-of-motoring.s3.eu-west-1.amazonaws.com/media/logo.png"
                alt="logo" width="26" height="26">
        </a>
      <span class="text-muted">© <span id="copyright_year"></span> Jim's School of Motoring</span>
    </div>
</footer>

<script>
    // Automatically updates the copyright year
    const d = new Date();
    let current_year = d.getFullYear();
    document.getElementById('copyright_year').innerHTML = current_year;
</script>