/* @import "static/css/base.css"; */

/* Styled to Match Bootstrap 'form-control' Class */
.StripeElement {
    height: 2.4em;
    padding-top: .7em;
    box-sizing: border-box;
}

/* Styled to Match Bootstrap 'form-control' Class */
.StripeElement--focus {
    border-color: #80BDFF;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Matches Bootstrap 'danger' Class */
.StripeElement--invalid {
    border-color: #dc3545;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.25);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Matches Bootstrap 'autofill' color */
.StripeElement--webkit-autofill {
    background-color: #e8f0fe !important;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(220, 53, 69, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/* Invoice Styling */
ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #b02a37;
}

/* Media Queries For Print */
@media print {
    h1 {
        display: none;
    }

    .divider {
        display: none;
    }

    footer {
        display: none;
    }

    .nav {
        display: none;
    }

    .progress {
        display: none;
    }

    header {
        display: none;
    }

    .title {
        display: none;
    }

    .alert {
        display: none;
    }

    .btn {
        display: none;
    }

    footer {
        display: none;
    }
}